In [4]:
#!/usr/bin/env python

In [5]:
"""
Uses Twitter API to grab info 

Uses Twython module to access Twitter API  
"""

'\nUses Twitter API to grab info \n\nUses Twython module to access Twitter API  \n'

In [54]:
import sys
import string
import simplejson
import pandas as pd
import numpy as np 
from twython import Twython

In [7]:
import datetime
now=datetime.datetime.now()
day=int(now.day)
month=int(now.month)
year=int(now.year)

In [9]:
t=Twython(app_key='SA8wm7cJ4Qg35LwBZD8iBtH9S'
       , app_secret='KXVAj7p31i2udFwVUWSgkmj9uXi3zzIMRuOk7gnxSq0RRTrbz6'
       ,oauth_token='2239500280-cKIyrpZRzuydXCHtJ0lM1vujRfTg9sjJt9ZhsXh'
       ,oauth_token_secret='zHproYfy2Q2glyxywOLEov9cTd7E1eCjOEmLUaFuInDkv')

In [39]:
ids=['HmartinFr','jean_patry','HenrietteDR','FlorentOtt','amande_pistache','Chloebn90']

In [42]:
users=t.lookup_user(screen_name=ids)

In [12]:
user=t.show_user(screen_name="HmartinFr")

In [13]:
outfn="twitter_user_data_%i%02i%02i.txt" % (year,month,day)
outfn

'twitter_user_data_20170204.txt'

In [14]:
fields="id screen_name name created_at url followers_count \
friends_count statuses_count favourites_count listed_count \
contributors enabled description location lang".split()

In [59]:
df=pd.DataFrame(index=np.arange(len(ids)),columns=fields)

In [60]:
df

,id,screen_name,name,created_at,url,followers_count,friends_count,statuses_count,favourites_count,listed_count,contributors,enabled,description,location,lang
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
for i in users :

In [50]:
df.id[4]='toto'
df

,id,screen_name,name,created_at,url,followers_count,friends_count,statuses_count,favourites_count,listed_count,contributors,enabled,description,location,lang
HmartinFr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
jean_patry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HenrietteDR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FlorentOtt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
amande_pistache,toto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Chloebn90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
for entry in users:
    #CREATE EMPTY DICTIONARY
    r = {}
    for f in fields:
        r[f] = ""
    #ASSIGN VALUE OF 'ID' FIELD IN JSON TO 'ID' FIELD IN OUR DICTIONARY
    r['id'] = entry['id']
    #SAME WITH 'SCREEN_NAME' HERE, AND FOR REST OF THE VARIABLES
    r['screen_name'] = entry['screen_name']

In [67]:
r

{'contributors': '',
 'created_at': '',
 'description': '',
 'enabled': '',
 'favourites_count': '',
 'followers_count': '',
 'friends_count': '',
 'id': 3212132907,
 'lang': '',
 'listed_count': '',
 'location': '',
 'name': '',
 'screen_name': 'Chloebn90',
 'statuses_count': '',
 'url': ''}

In [69]:
users['screen_name']

TypeError: list indices must be integers or slices, not str

users[3]

In [77]:


users[4]['screen_name']

'amande_pistache'

In [83]:
for i in users: