In [121]:
#!/usr/bin/env python

In [122]:
"""
Uses Twitter API to grab info 

Uses Twython module to access Twitter API  
"""

'\nUses Twitter API to grab info \n\nUses Twython module to access Twitter API  \n'

In [123]:
import sys
import string
import simplejson
import pandas as pd
import numpy as np 
from twython import Twython

In [124]:
import datetime
now=datetime.datetime.now()
day=int(now.day)
month=int(now.month)
year=int(now.year)
file_name="twitter_user_data_%i%02i%02i.csv" % (year,month,day)

In [125]:
t=Twython(app_key='SA8wm7cJ4Qg35LwBZD8iBtH9S'
       , app_secret='KXVAj7p31i2udFwVUWSgkmj9uXi3zzIMRuOk7gnxSq0RRTrbz6'
       ,oauth_token='2239500280-cKIyrpZRzuydXCHtJ0lM1vujRfTg9sjJt9ZhsXh'
       ,oauth_token_secret='zHproYfy2Q2glyxywOLEov9cTd7E1eCjOEmLUaFuInDkv')

In [126]:
ids=['HmartinFr','jean_patry','HenrietteDR','FlorentOtt','amande_pistache','Chloebn90','KynapseData']

In [127]:
users=t.lookup_user(screen_name=ids)

In [128]:
user=t.show_user(screen_name="HmartinFr")

In [129]:
fields="id screen_name name created_at url followers_count \
friends_count statuses_count favourites_count listed_count \
description entities location lang".split()
print(fields)

['id', 'screen_name', 'name', 'created_at', 'url', 'followers_count', 'friends_count', 'statuses_count', 'favourites_count', 'listed_count', 'description', 'entities', 'location', 'lang']

In [130]:
df=pd.DataFrame(index=np.arange(len(ids)),columns=fields)

In [131]:
i=0
for entry in users:

    for f in fields:

        df.ix[i][f]=entry[f]
    
    i=i+1

In [132]:
df

,id,screen_name,name,created_at,url,followers_count,friends_count,statuses_count,favourites_count,listed_count,description,entities,location,lang
0,2239500280,HmartinFr,Hugo Martin,Mon Dec 23 08:43:36 +0000 2013,https://t.co/5O4kjpmzCr,900,1031,875,787,45,#Tech #Data #MachineLearning #Digital #CX #Tel...,"{'url': {'urls': [{'indices': [0, 23], 'displa...",Paris,fr
1,488284389,jean_patry,Jean Patry,Fri Feb 10 08:55:36 +0000 2012,None,730,279,545,596,21,creative mind for @Quik_App & @WriteLegend by ...,"{'description': {'urls': [{'indices': [88, 111...",Paris,fr
2,401955854,HenrietteDR,Henriette DR,Mon Oct 31 10:24:58 +0000 2011,https://t.co/NEjgDwAo4W,598,867,1582,603,58,Je travaille @reputationsquad et je connais bi...,"{'url': {'urls': [{'indices': [0, 23], 'displa...","Paris, Ile Maurice",fr
3,3228304280,FlorentOtt,Florent OTT,Wed May 27 14:50:48 +0000 2015,None,39,180,308,337,7,,{'description': {'urls': []}},,en
4,2223197760,amande_pistache,Gary Wild,Sat Nov 30 14:34:46 +0000 2013,None,48,81,81,17,14,,{'description': {'urls': []}},somewhere,fr
5,3212132907,Chloebn90,Chloé Bounader,Mon Apr 27 10:01:45 +0000 2015,None,8,47,2,6,0,,{'description': {'urls': []}},,en
6,4784041212,KynapseData,Kynapse,Tue Jan 19 14:50:25 +0000 2016,https://t.co/NgP00Ys6r2,266,672,317,115,45,Kynapse est un cabinet de conseil spécialisé e...,"{'url': {'urls': [{'indices': [0, 23], 'displa...","Ile-de-France, France",fr

In [115]:
df.to_csv(file_name)